.CapabiliteList {
  margin-top: 32px;
  list-style: none;
  width: 100%;
  justify-content: ;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  row-gap: 16px;
}

.CapabiliteItem {
  padding: 20px 40px;
  background-color: transparent;
  border: 1px solid rgb(72, 72, 72);
}
