@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Manrope";
  src: url(../public/fonts/Manrope-VariableFont_wght.ttf);
}

:root {
  /* Color schema */
  --bckg-color: rgb(10, 10, 10);
  --bckg-ligther: #222222;
  --text-color: #f5e1bc;
  --accent-color: #db4650;
  --accent-color-SVG: brightness(0) saturate(100%) invert(39%) sepia(65%)
    saturate(5325%) hue-rotate(336deg) brightness(96%) contrast(79%);
  --text-color-darker: #b8ac98a7;
  /* #b8a598  #9f7d3d*/
  /* #b8ac98 #faefda78*/
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.biggerHeading {
  font-family: "Bebas Neue";
  font-size: 101px;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: 0%;
  text-align: left;
}

.Content {
  max-width: 1224px;
  width: 100%;
}

.Link {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-weight: bold;
}

h1 {
  font-size: 76px !important;
  margin: 0 !important;
}

p {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

body {
  background-color: var(--bckg-color);
  color: var(--text-color);
  font-family: "Bebas Neue";
}
hr {
  height: 3px;
  border: none;
  border-bottom: 3px solid var(--bckg-ligther);
}
