@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../public/fonts/BebasNeue-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Manrope";
  src: url(../public/fonts/Manrope-VariableFont_wght.ttf);
}

:root {
  /* Color schema */
  --bckg-color: rgb(10, 10, 10);
  --bckg-ligther: #222222;
  --text-color: #f5e1bc;
  --accent-color: #db4650;
  --accent-color-SVG: brightness(0) saturate(100%) invert(39%) sepia(65%)
    saturate(5325%) hue-rotate(336deg) brightness(96%) contrast(79%);

  /* Font schema */

  /* Font schema */
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bckg-color);
  color: var(--text-color);
  font-family: "Bebas Neue";
}
