.Baner {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 80px;
}

.BanerHeading {
  font-family: "Bebas Neue";
  font-size: 101px;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: 0%;
}

.BanerSubtext {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

.ImageSection {
  width: 600px !important;
  height: 663px !important;
  border-radius: 16px;
}

.ImageSection img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.BanerLeft {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.BanerActions {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}
